{% extends 'base.html' %}

{% block title %}Wypożycz{% endblock %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock %}
{% block content %}

<main>
 <div class="album py-5 bg-light">
  <div class="containter">

  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Szukaj po nazwie" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
  </form>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for items in data %}
      <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">Nazwa przedmiotu: {{ items.rentItemName }}</p>
              <p class="card-text">Id: {{ items.id }}</p>
      {% if items.rentState == None or items.rentState == False %}<p class="card-text" style="color:green"> Nie wypożyczony </p><a href="{{ items.id }}/lenditem">Wypożycz</a><br/>

      {% endif %}
      {% if items.rentState == True %}<p class="card-text" style="color:red"> Wypożyczony</p>
      {% if user.is_authenticated %}
      <p class="card-text">Imie: {{ items.name }}</p>
      <p class="card-text">Nazwisko: {{ items.surname }}</p>
      <p class="card-text">Data: {{ items.rentDate }}</p>
      {% endif %}{% endif %}
  </div>
    </div>
      </div>
      {% endfor %}

  </div>
</div>
  </div>
</main>

{% endblock %}