{% extends 'base.html' %}

{% block title %}Wypożyczalnia{% endblock %}

{% block content %}

<main>


<div class="container mt-5 text-center text-capitalize">
    <div class="accordion" id="accordionExample">
        {% for item in object_list %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                        {{ item.rentItemName}}</button>
            </h2>

            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>{{ item.rentItemName }}</p>
                        <p>wypozyczony: {{ item.rentDate }}</p>
                        <p>{{ item.name}} {{ item.surname }}</p></p>
                </div>
            </div>
        </div>
        {% endfor %}
    <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if object_list.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ object_list.previous_page_number }}">previous</a>
              {% endif %}

                <span class="current">
                    Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
                </span>

              {% if object_list.has_next %}
                  <a href="?page={{ object_list.next_page_number }}">next</a>
                  <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
            </div>
        </div>
</main>

{% endblock %}